<h1>Reset your password</h1>
<p>Hi {{userName}},</p>
<p>We received a request to reset your password for your {{companyName}} account. Click the button below to set a new
    password:</p>
<p style="text-align: center;">
    <a href="{{resetUrl}}" class="button">Reset Password</a>
</p>
<p>This link will expire in {{expiresIn}}.</p>
<p><strong>Note:</strong> This request was initiated from IP address: {{ipAddress}}.</p>
<p>If you didn't request a password reset, please ignore this email or contact support if you have concerns.</p>